.chat-body {
    width: 100%;
    height: 80%;
    flex: 1;
    padding: 0;
    margin: 0;
    background: #303030;

    & > ul {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-y: auto;

        & > .scroll-to-bottom {
            float: left;
            clear: both;
        }
    }
}